<button (click)="loadAllArticles()">Show All Articles</button>
<button (click)="createArticleView()">Create Article</button>
<button (click)="getArticleByIdView()">Search Article By Id</button>

<div [ngSwitch]="task">
<p> <b>{{ message$ | async }}</b> </p>
    <ng-template [ngSwitchCase]="'all'">
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>

    <ng-template ngSwitchCase="create">
       
        <form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()"  class='main'>
            <p> 
                <span>Enter New Id: </span>
                <input formControlName="id"><br/>
                <label *ngIf="articleForm.get('id')?.hasError('required') "  class='error--serious'>
                    Enter article id
                </label>
            </p>
            <p> 
                <span>Enter Title: </span>
                <input formControlName="title"> </p>
            <p>
                <span> Enter Category:</span>
                 <input formControlName="category"> </p>
            <p> <button [disabled]='articleForm.invalid'> Submit </button> </p>
        </form>
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>

    <ng-template ngSwitchCase="get">
        <p> Enter Id: <input ngModel (input)="searchArticleById(id.value)" #id="ngModel"> </p>
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>
    <ng-template ngSwitchDefault> <br /><b>Select Task</b> </ng-template>
</div>