/* Add application styles & imports to this file! */
@use 'variables';
@import 'code.css';
.main {
  display: flex;
  flex-wrap: wrap;
}
.main div {
  @include variables.color(var(--main-bg-color));
  display: flex;
  width: variables.calculate(25, 10) * 1px;
  justify-content: space-between;
  padding: 10px;
}
.main div input {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 100%;
  border-radius: variables.$border-radious;
}
.main div select {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 100%;
}
.main label {
  width: 110px;
}
.btvdiv {
  float: right;
}
.error {
  color: red;
  border-color: red;
  border: 1px solid;
}
.error--serious {
  @extend .error;
  &:hover {
    border-width: 3px;
  }
}
