/* Add application styles & imports to this file! */
.main {
  display: flex;
  flex-wrap: wrap;
}
.main div {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 10px;
}
.main div input {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 100%;
}
.main div select {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 100%;
}
.main label {
  width: 110px;
}
.btvdiv {
  float: right;
}
.error {
  color: red;
  border-color: red;
}
